*{
    margin: 0;
    box-sizing: border-box;
}
body{
 
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 100vh;    
    background-color: #ffffff;

}
h1.text{
        text-align: center;
        margin-top: 25px;
        color: black;
}



ul{
    margin-top: 25px;

}
ul li{
    margin-top: 20px;
    padding: 10px 0;
    list-style: none;
    font-size: 25px;
}
ul li a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.container{
    margin: 20px;
    padding: 100px;
}
.black a{
    color: black;
}
